data/*/pubmed_baseline_*.jsonl
data/*/ids_per_baseline_*.p
data/*/log_download_baseline*.txt
data/baselines/downloaded_baselines
data/indexes
data/indexes_pleiades
data/*/training*.json

data/quality
!data/quality/.keep

data/quantity
!data/quantity/.keep

data/val_data
!data/val_data/.keep


data/similarity_results
!data/similarity_results/.keep

maybe_junk_phaseAp

outputs/Batch01
outputs/Batch02
outputs/Batch03
outputs/Batch04

hard_negatives*.jsonl

phaseA-reranker/__pycache__
phaseA-reranker/HF_CACHE

phaseA-reranker/trained_models_tmp
phaseA-reranker/trained_models_b01
phaseA-reranker/trained_models_b02_val

phaseA-reranker/wandb

phaseA-reranker/.api

phaseA-reranker/test.ipynb
phaseA-reranker/val_results_b02*.jsonl

phaseB/test.ipynb

scripts/B01
scripts/B02
scripts/B03
scripts/B04

/venv
/venv-unsloth

tmp.py
__pycache__/
nohup.out
