*.log
*.out
.env
data/db_baselines
data/*/pubmed_baseline_*.jsonl
data/*/ids_per_baseline_*.p
data/*/log_download_baseline*.txt
data/baselines/downloaded_baselines
data/indexes
data/indexes_pleiades
data/*/training*.json*
data/ids_per_baseline.json
data/not_found.jsonl
data/dense_vectors* 
data/embeddings_*
data/embeddings/**
data/negatives*.jsonl
data/lookup*.json
data/BioASQ-task*bPhase*-testset*.json*
data/band_aid
data/bm25
data/quorum

data/quality
!data/quality/.keep

data/quantity
!data/quantity/.keep

data/val_data
!data/val_data/.keep

data/batch02
data/batch02-phaseb

data/batch03

data/similarity_results
!data/similarity_results/.keep

maybe_junk_phaseAp

outputs/Batch01
outputs/Batch02
outputs/Batch03
outputs/Batch04

hard_negatives*.jsonl

phaseA-BM25/Batch01


__pycache__
phaseA-reranker/HF_CACHE

phaseA-reranker/trained_models_tmp
phaseA-reranker/trained_models_b01
phaseA-reranker/trained_models_b02_val

phaseA-reranker/**/wandb
phaseA-reranker/refactored-trainer/all_models_evaluation*.json
phaseA-reranker/**/*.json*
phaseA-reranker/refactored-trainer/inference_batch1_2025
phaseA-reranker/**/runs_bioasq_format
phaseA-reranker/**/runs_bioasq_format_hydrated
phaseA-reranker/**/outputs*
phaseA-reranker/**/all_models_evaluation.json
phaseA-reranker/**/train.log
phaseA-reranker/wandb
phaseA-reranker/dprf/*.json
phaseA-reranker/dprf_bak/*.json


phaseA-reranker/.api

phaseA-reranker/test.ipynb
phaseA-reranker/val_results_b02*.jsonl

phaseB/test.ipynb
phaseB/dev
phaseB/batch01
phaseB-alex/batch01
phaseB-alex/dev

scripts/B01
scripts/B02
scripts/B03
scripts/B04

/venv
/venv-unsloth

tmp.py
__pycache__/
nohup.out

src/bioasq/phase_a/reranker/outputs
src/bioasq/phase_a/reranker/wandb
**/wandb
data/bench**
data/training
data/context1_test**
unsloth_compiled_cache/
tests/
